#chaofan {
    width: 100%;
    height: 5302px;
    overflow: hidden;
    position: relative;
}

.content {
    width: 1346px;
    height: 100%;
    /* background-color: aqua; */
    overflow: hidden;
    margin: auto;
}

.mainp {
    color: #666;
    line-height: 24px;
    margin-top: 22px;
}


/* 
    header
*/


/* logo */

.header {
    width: 100%;
    height: 83px;
    background-color: white;
}

.header h1 {
    width: 420px;
    height: 80px;
    margin-top: 1px;
    background-image: url(../images/logo.png);
    text-indent: -99999px;
}


/* nav */

.header ul {
    margin-right: 20px;
}

.header li a {
    color: black;
    display: block;
    text-transform: uppercase;
}

.header li {
    text-align: center;
    width: 70px;
    height: 40px;
    padding-left: 40px;
    margin-top: 35px;
    line-height: 40px;
}

.header li .hl2 {
    display: none;
}

.header li:hover .hl1 {
    display: none;
}

.header li:hover .hl2 {
    display: block;
}

.ser {
    display: block;
}

.ser1 {
    display: none;
    width: 1140px;
    height: 120px;
    padding-top: 20px;
    top: 64px;
    left: 10%;
    position: absolute;
    opacity: 0.5;
}

.ser1 ul {
    width: 1140px;
    height: 100px;
    background: #666;
    margin: 0 0 0 0;
}

.ser1 li {
    width: 300px;
    float: left;
    line-height: 20px;
    margin: 0 0 0 0;
}

.ser1:hover .ser1-u {
    display: block;
}

.ser:hover .ser1 {
    display: block;
}

.ser:hover .ser1 a {
    display: block;
}


/* 
    banner
*/

.banner {
    width: 100%;
    height: 448px;
    background-image: url(../images/56f3527bb57ce.jpg);
}


/* 
    main1
*/

.main1 {
    width: 100%;
    height: 726px;
    overflow: hidden;
    background-color: white;
}

.main1 h2 {
    margin-top: 42px;
    height: 44px;
    background-image: url(../images/bus_h2.jpg);
}


/* main1图片 */

.m1td {
    display: none;
    width: 100%;
    height: 100%;
    background: #189cde;
    position: absolute;
    top: 0;
    left: 0;
}

.main1-a {
    width: 1140px;
    margin-top: 52px;
    margin-left: 106px;
    width: 100%;
}

.main1-a .m1t {
    width: 315px;
    height: 218px;
    overflow: hidden;
    float: left;
    margin: 0 22px 4px;
    position: relative;
}

.m1box {
    margin: 0 0;
    width: 228px;
    height: 71px;
    display: inline-block;
    margin-bottom: none;
    background-color: #189cde;
    opacity: 0.9;
    color: white;
    line-height: 71px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


/* 
main2
*/

.main2 {
    width: 100%;
    height: 763px;
}

.main2 h2 {
    margin-top: 42px;
    height: 45px;
    background-image: url(../images/clien_h2.jpg);
}

.main2 p {
    margin-top: 26px;
    margin-bottom: 56px;
}

.main2box {
    height: 502px;
    width: 1140px;
    margin: auto;
}

.m2box1 {
    width: 283px;
    height: 166px;
    float: left;
    margin: 0 1px 1px 0;
    background-image: url(../images/ft2.png);
}

.m2box1:hover {
    background-image: url(../images/ft1.png);
}


/* 
main3
*/

.main3 {
    width: 100%;
    height: 682px;
}

.main3 h2 {
    height: 45px;
    background-image: url(../images/work_h2.jpg);
    margin-top: 42px;
}

.main3 p {
    margin-top: 26px;
}

.m3box {
    width: 1140px;
    height: 424px;
    margin: auto;
    margin-top: 42px;
}

.m3box1 {
    width: 283px;
    height: 211px;
    margin: 0 2px 2px 0;
    background-image: url(../images/man3-1.jpg);
}


/* 
main4
*/

.main4 {
    width: 100%;
    height: 800px;
    background: #6eb1cc;
    margin: auto;
}

.main4 h2 {
    height: 45px;
    background-image: url(../images/news_h2.jpg);
    margin-top: 42px;
}

.main4 .p1 {
    margin-top: 26px;
}

.m4box {
    width: 1140px;
    height: 800px;
    margin: auto;
    margin-top: 42px;
}

.m4box1 {
    width: 550px;
    height: 166px;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
}

.m4box2 {
    width: 334px;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: white;
    padding-right: 30px;
}

.m4box1 h3 {
    margin-top: 20px;
    margin-left: 20px;
}

.m4p {
    line-height: 20px;
    margin-left: 20px;
    margin-top: 12px;
}

.m4p span {
    color: #666;
}


/* 
main5
*/

.main5 {
    width: 100%;
    height: 910px;
}

.main5 h2 {
    background-image: url(../images/exp_h2.jpg);
    margin-top: 42px;
    height: 45px;
}

.main5 p {
    margin-top: 26px;
}

.m5box {
    width: 1140px;
    height: 700px;
    margin: auto;
}

.m5b1 {
    width: 285px;
    height: 180px;
    box-sizing: border-box;
    float: left;
    position: relative;
    /* border-bottom: 2px solid #0093dd; */
}

.m5b1 div {
    margin: auto;
    position: absolute;
    left: 100px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    background-image: url(../images/exp_xtb.png);
}

.m5b1:hover {
    border-bottom: 2px solid #0093dd;
}

.m5b1:hover div {
    background-position: 100% 0;
}


/*  */