#boke .content {
    width: 90%;
}

#boke .bk-header .nav .list {
    width: 100%;
}

#boke .bk-main .content .main-left {
    width: 90%;
}

#boke .bk-main .content .main-r {
    width: 90%;
}

#boke .bo-footer .content .bo-foot-t .main-r1 {
    width: 90%;
}