.content {
  width: 1000px;
  margin: auto;
  height: 100%;
}

.xl::after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #000;
}

#mfw .mfw-header {
  width: 100%;
}

#mfw .mfw-header > .content {
  height: 58px;
}

#mfw .mfw-header > .content h1 {
  float: left;
  height: 100%;
  width: 125px;
  margin-right: 40px;
  text-indent: -999999px;
  background: url(../images/header-small.png) no-repeat center bottom;
  background-size: auto 125%;
}

#mfw .mfw-header > .content ul {
  width: auto;
  float: left;
  display: flex;
  height: 100%;
}

#mfw .mfw-header > .content ul li {
  line-height: 58px;
  height: 100%;
  padding: 0 15px;
}

#mfw .mfw-header > .content ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}

#mfw .mfw-header > .content ul li:target {
  background-color: #ff9d00;
}

#mfw .mfw-header > .content ul li:target a {
  color: #fff;
}

#mfw .mfw-header > .content p {
  float: right;
}

#mfw .mfw-header > .content p a:nth-child(-n+3) {
  width: 26px;
  margin-top: 16px;
  float: left;
  height: 26px;
  font-size: 12px;
  margin-right: 10px;
  display: block;
  background: url(../images/header-sprites9.png) no-repeat 0 -50px;
}

#mfw .mfw-header > .content p a:nth-child(n+4) {
  float: left;
  margin-top: 22px;
  color: #ff9d00;
  line-height: 14px;
}

#mfw .mfw-header > .content p a:nth-child(2) {
  background-position-x: -30px;
}

#mfw .mfw-header > .content p a:nth-child(3) {
  background-position-y: -165px;
}

#mfw .mfw-header > .content p a:nth-child(4) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ccc;
}

#mfw .mfw-header .banner {
  width: 100%;
  height: 450px;
  background: url(../images/banner1.jpeg) no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
}

#mfw .mfw-header .banner .content h2 {
  font-size: 16px;
}

#mfw .mfw-header .banner .content h2 span:nth-child(1) {
  font-size: 24px;
}

#mfw .mfw-header .banner .content form {
  width: 538px;
  height: 89px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 15px 10px 10px;
  position: absolute;
  left: 50%;
  bottom: 55px;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

#mfw .mfw-header .banner .content form .xz p {
  float: left;
  margin-right: 20px;
}

#mfw .mfw-header .banner .content form .xz p a {
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(../images/header-sprites9.png) no-repeat -60px -110px;
  vertical-align: middle;
  margin-right: 5px;
}

#mfw .mfw-header .banner .content form .xz p span {
  float: left;
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
}

#mfw .mfw-header .banner .content form .xz p:nth-child(1) a {
  background-position-y: -140px;
}

#mfw .mfw-header .banner .content form input {
  margin-top: 12px;
  width: 474px;
  height: 36px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 36px;
}

#mfw .mfw-header .banner .content form .ss {
  float: right;
  width: 40px;
  height: 36px;
  border-radius: 3px;
  margin-top: 12px;
  background: url(../images/header-sprites9.png) no-repeat 9px -105px, #ff9d00;
}

#mfw .mfw-header .banner .content form > p {
  position: absolute;
  font-size: 14px;
  bottom: -20px;
}

#mfw .mfw-header .banner .content .banner-r {
  position: absolute;
  right: 40px;
  top: 22px;
}

#mfw .mfw-header .banner .content .banner-r ul li {
  width: 110px;
  height: 62px;
  margin-top: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

#mfw .mfw-header .banner .content .banner-r ul li img {
  height: 62px;
  width: 110px;
}

#mfw .mfw-header .banner .content .banner-r > div {
  margin-top: 14px;
  width: 110px;
  height: 35px;
  background: url(../images/index-sprites9.png) no-repeat -60px -50px;
}

#mfw .mfw-main .content {
  margin-top: 30px;
  display: flex;
}

#mfw .mfw-main .content .main-left {
  width: 260px;
}

#mfw .mfw-main .content .main-left .main-t-item1 > div h3 {
  width: auto;
  float: left;
}

#mfw .mfw-main .content .main-left .main-t-item1 > div a {
  float: right;
  color: #ccc;
}

#mfw .mfw-main .content .main-left .main-t-item1 img {
  margin-top: 20px;
  width: 260px;
  height: auto;
}

#mfw .mfw-main .content .main-left .main-t-item1 h2 {
  font-size: 16px;
}

#mfw .mfw-main .content .main-left .main-t-item1 p {
  font-size: 12px;
}
